html,
body {
  height: 100%;
}

body {
  display: block;
  align-items: center;
  background-color: #CFD8DC;

}

/*FORMS*/

 

.form-signin,
.task-form {
  width: 100%;
  max-width: 330px;
  margin: 71px auto;
  padding: 30px 15px;
  text-align: center;
  background-color: #607D8B;
  border-radius: 5px;
}

.public-header{
  color: #fff;
  margin-bottom: 40px;
}

.task-form{
  margin: auto;
}

.task-form-child{
  margin: 10px 0;
}


.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}



.submit-button{
  margin-top: 40px;
  background: none;
  color: #fff;
  border-color: #fff;

}
.submit-button:hover{

  background: none;
  color: #FF9800;
  border-color: #FF9800;
}

.logout-button{
  background: none;
  color: #fff;
  border-color: #fff;
}
.logout-button:hover{
  background: none;
  color: #FF9800;
  border-color: #FF9800;
}

.link{
  color: #FF9800;
 
}
.link:hover{
  color:#FF9800;
  text-decoration: none; 
}



.form-control{
  margin: 5px 0;
}

.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.hidden{
  display: none;
}



/*NAVS & HEADERS*/
.main-nav,
.task-nav{
  justify-content: space-between;
}
.manage-account-button{
  margin: 0 20px;
}

.main-nav{
  background-color: #607D8B;
}
.navbar-light .navbar-brand{
  color: #fff;
}

.task-nav{
  margin-top: 15px;
}

.task-nav-left{
  display: flex;
}
.task-nav-left h1{
  margin-right: 20px;
  color: #212121;
}



/*TASK CARDS*/
.task-card-layout{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0;
  height: 80px;
  color: #1f2833;
}
.task-card-text-container{
  padding: 10px;
}
.h6,
h6{
  font-size: .75rem;
  font-style: italic;
}
.task-card-right{
  display: flex;
  flex-direction: row;
}

.task-card-checkbox{
  margin: auto 30px;
}

.delete-button{
  background-color: #607D8B;
  border-color: #fff;
  width: 80px;
}



.delete-button:hover{
  background-color: #455A64;
  border-color: #FF9800;
  color: #FF9800;
}

.bi-trash{
  color: #fff;
}
.delete-button:hover .bi-trash{
  color: #FF9800;
}

/*PAGINATION*/

.pagination{
  justify-content: center;
}

.page-link{
  color: #fff;
  background-color: #607D8B;
}

.page-item.active .page-link{
  background-color: #455A64;
  color: #FF9800;
  border-color: #FF9800;
}

